<div>
  <p-toast />
  @if (isLoading()) {
  <div class="fixed top-0 left-0 w-full h-full flex align-items-center justify-content-center bg-black-alpha-50"
    style="z-index: 9999;">
    <p-progressSpinner ariaLabel="loading" />
  </div>
  }

  @if (!analysisResult()) {
  <div class="flex flex-column align-items-center mt-4 gap-4 px-4">
    <!-- Job Description Section (80% Width) -->
    <div class="w-full md:w-10 flex flex-column gap-2" style="max-width: 1200px;">
      <label class="font-semibold text-xl" for="jobDescription">Job Description</label>
      <textarea rows="12" pInputTextarea [ngModel]="jobDescription()" (ngModelChange)="jobDescription.set($event)"
        maxlength="2000" class="w-full" style="overflow-y: auto; height: 18rem;"
        placeholder="Paste job description here (Max 2000 chars)"></textarea>
    </div>

    <!-- Upload Resume Section -->
    <div class="w-full flex flex-column align-items-center gap-3 mt-4">
      <label class="font-semibold text-xl">Upload Resume</label>
      <div class="flex gap-4 align-items-center flex-wrap justify-content-center">
        <p-fileupload #fu mode="basic" chooseLabel="Choose File" chooseIcon="pi pi-upload" name="demo[]"
          accept=".pdf,.doc,.docx" maxFileSize="1000000" />
        <p-button label="Analyze Resume" (onClick)="onUpload(fu)" [raised] = true severity="primary" icon="pi pi-bolt"
          [disabled]="!jobDescription() || !jobDescription().trim() || !fu._files.length" />
      </div>
    </div>
  </div>
  } @else {
  <app-ats-result-component [result]="analysisResult()!" (onReset)="onReset()" />
  }

</div>
